
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h1 class=" mat-typography mat-elevation-z20 mat-display-1 text-center p-2">Reactive Form - Material</h1>
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <!-- username control -->
     <mat-card class="mb-4">
      <mat-form-field appearance="fill">
        <mat-label>username</mat-label>
        <input formControlName="username"
         matInput>
         <mat-error *ngIf="form['username'].touched && form['username'].hasError('required')">
          username is required field.
         </mat-error>

         <mat-error *ngIf="form['username'].dirty && form['username'].hasError('minlength')">
          Minimum length should be {{form['username'].errors?.['minlength'].requiredLength}}
          and the actual length is {{form['username'].errors?.['minlength'].actualLength}}.
         </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
        formControlName="email"
        matInput>

        <mat-hint *ngIf="form['email'].pending">
          checking availibility....
        </mat-hint>

        <mat-error *ngIf="form['email'].touched && form['email'].hasError('required')">
          email is required .
         </mat-error>

         <mat-error *ngIf="form['email'].dirty && form['email'].hasError('pattern')">
          Invalid email id {{'JhonDoe@gmail.com'}} 
         </mat-error>

         <mat-error *ngIf="form['email'].dirty && form['email'].hasError('emailExistError')">
          Email is in use
         </mat-error>
      </mat-form-field>


      <!-- Emp Id -->
      <mat-form-field appearance="fill">
        <mat-label>EmpId</mat-label>
        <input
        formControlName="empId"
        matInput>

        <mat-error *ngIf="form['empId'].touched && form['empId'].hasError('required')">
          EmpId is required.
         </mat-error>

         <mat-error *ngIf="form['empId'].hasError('invalidEmpId')">
          {{form['empId'].errors?.['invalidEmpId']}}
         </mat-error>
        </mat-form-field>
     </mat-card>


        <!-- Genders -->
        
          <mat-card class="mb-4">
            <mat-label >Gender</mat-label>
          <div class="my-3">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="Female" class="mr-4">Female</mat-radio-button>
              <mat-radio-button value="Male" class="mr-4">Male</mat-radio-button>
              <mat-radio-button value="Other">Other</mat-radio-button>
            </mat-radio-group>
          </div>
          </mat-card>

          <mat-card class="mb-4">
            <mat-card-header>
              <mat-card-title>Address Setting</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-checkbox formControlName="isAddresssame">Use current address as permanent address</mat-checkbox>
            </mat-card-content>
          </mat-card>
          <div class="row mb-3">
            <div class="col-md-6 mb-4">
            <div formGroupName="currentAddress">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  Current Address
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Country</mat-label>
                      <mat-select formControlName="country">
                        <mat-option *ngFor="let country of countriesArr" [value]="country.Country">
                          {{country.Country}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="form['currentAddress'].get('country')?.hasError('required')">
                      country name is required field.
                    </mat-error>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>State</mat-label>
                      
                      <input matInput formControlName="state" type="text">
                      <mat-error *ngIf="form['currentAddress'].get('state')?.hasError('required')">
                        state is required field.
                      </mat-error>
                    </mat-form-field>
                    
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>City</mat-label>
                      
                      <input matInput  formControlName="city" type="text">
                      <mat-error *ngIf="form['currentAddress'].get('city')?.hasError('required')">
                        city is required field.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Pincode</mat-label>
                      
                      <input matInput  formControlName="pincode" type="text">
                      <mat-error *ngIf="form['currentAddress'].get('pincode')?.hasError('required')">
                        pincode is required field.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            </div>
            </div>
            <div class="col-md-6">
              <div formGroupName="permanentAddress">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Permanent Address</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field appearance="outline">
                          <mat-label>Country</mat-label>
                          <mat-select formControlName="country">
                            <mat-option *ngFor="let country of countriesArr" [value]="country.Country">
                              {{country.Country}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="form['currentAddress'].get('country')?.hasError('required')">
                          country name is required field.
                        </mat-error>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="outline">
                          <mat-label>State</mat-label>
                          
                          <input matInput formControlName="state" type="text">
                          <mat-error *ngIf="form['currentAddress'].get('state')?.hasError('required')">
                            state is required field.
                          </mat-error>
                        </mat-form-field>
                        
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="outline">
                          <mat-label>City</mat-label>
                          
                          <input matInput  formControlName="city" type="text">
                          <mat-error *ngIf="form['currentAddress'].get('city')?.hasError('required')">
                            city is required field.
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="outline">
                          <mat-label>Pincode</mat-label>
                          
                          <input matInput  formControlName="pincode" type="text">
                          <mat-error *ngIf="form['currentAddress'].get('pincode')?.hasError('required')">
                            pincode is required field.
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
                </div>
            </div>
          </div>

          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Skills*
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip
                (removed)="removeSkill(i)"
                  *ngFor="let skill of skillsArr.controls let i = index">
                  {{skill.value}}
                  <button matChipRemove>  
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                [formControl]="newFormConrol"
                  placeholder="New skill..."               
                  [matChipInputFor]="chipList"
                  (matChipInputTokenEnd)="addskill()"
                  />
              </mat-chip-list>
            </mat-card-content>
          </mat-card>

          <mat-card class="my-4">
            <mat-card-header>
              <mat-card-title>
                Dependents
              </mat-card-title>
            </mat-card-header>
            <mat-card-content formArrayName="dependents">
              <div *ngFor="let dependent of dependentsArr.controls let i = index">
              <div class="dependent-card">
                <mat-card>
                 <mat-card-header>
                  <mat-card-title>
                    Dependent {{i+1}}
                  </mat-card-title>
                 </mat-card-header>
                </mat-card>
              </div>
              </div>
            </mat-card-content>
          </mat-card>
          


      <button mat-raised-button color="primary" class="my-4">
        Submit
      </button>
      </form>
    </div>
  </div>

</div>